{% extends 'includes/_base.html' %}

{% block title %}
  Login
{% endblock %}

{% block contents %}
  <h1>Register</h1>
  <form action="/register" method="post">
    <div class="mb-3">
      <label for="uid" class="form-label">Username</label>
      <input type="text" class="form-control" name="uid" id="uid" placeholder="Username">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password</label>
      <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password">
    </div>
    <div class="mb-3">
      <label for="pwd2" class="form-label">Repeat Password</label>
      <input type="password" class="form-control" name="pwd" id="pwd2" placeholder="Repeate Password">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>

    <p>
      If you already have an account <a href="/login">Login here</a>
    </p>
  </form>
{% endblock %}

